%li
  = link_to "#{notification.notified_by.username} has #{notification.notice_type}ed on your post", link_through_path(notification)
.time_ago_thing
  = time_ago_in_words(notification.created_at)
  ago
